﻿<a href="#0" class="cd-top pull-right"><span class="glyphicon glyphicon-arrow-up btn-verde" aria-hidden="true"></span></a>
<footer class="footer fondo-verde">© gearup! 2017</footer>
<div class="loader-overlay" id="overlay" style="display: block;"></div>
<script>
    //setTimeout(function () { window.location.reload() }, 1500);

    var access_token = null;
    //var client_id = '{{ global_config.OauthClientID }}';
    var client_id = '{{ client.client_id }}';

    function oAuth_auth_link(url) {
        if (access_token) {
            url += (url.lastIndexOf('?') > -1 ? '&' : '?');
            url += 'client_id=' + client_id;
            url += '&access_token=' + access_token;
        }
        return url;
    }

    $(function () {
        $('.nav-toggle').on('click', function () {
            $('.main-navigation').toggleClass('open-menu');
        });
    });

    $(function () {
        $('.data-toggle').on('click', function () {
            $('.user-info').toggleClass('open-menu');
            $('.fa-plus-circle').toggleClass('fa-minus-circle');
        });
    });

    $(document).ready(function ($) {
        //mantener sesion
        if ('{{ session.Email }}' != '') {
            // Save access_token from URL
            if (getQueryStringParam("access_token") !== '') {
                access_token = getQueryStringParam("access_token");
            }

            // Add client_id and access_token to links
            $('a').each(function () {
                var href = $(this).attr('href');
                var dataToggle = $(this).attr('data-toggle');
                if (href && !dataToggle && href.toLowerCase().match(/^(http|javascript)/) == null) {
                    if (href.substring(0, 1) === '#') {
                        var anchor = href.substring(1);
                        href = 'javascript:;';
                        $(this).click(function () {
                            document.location.hash = anchor;
                        });
                    } else if (!$(this).hasClass('no-oauth')) {
                        href = oAuth_auth_link(href);
                        if ($(this).attr('target') !== '_blank' && $(this).attr('target') !== '') {
                            $(this).click(function () {
                                $("#overlay").css("display", "block");
                            });
                        }
                    }

                    $(this).attr('href', href);
                }
            });
            $(':regex(onclick,window.location.href=[\'\w]+)').each(function () {
                var onclick = $(this).attr('onclick');
                var href = onclick.match(/\'(\w+)\'/gi);
                if (href && href[0] && href[0] !== "") {
                    href = href[0].replace(/'/g, "");
                    href = oAuth_auth_link(href);
                    onclick = onclick.replace(/\'(\w+)\'/gi, "") + "'" + href + "'";
                    $(this).attr('onclick', onclick);
                    $(this).click(function () {
                        $("#overlay").css("display", "block");
                    });
                }
            });
            $('form').each(function () {
                var href = $(this).attr('action');
                if (typeof href === 'undefined' || href === '') {
                    $(this).attr('action', window.location.href);
                } else {
                    href = oAuth_auth_link(href);
                    $(this).attr('action', href);
                }
                $(this).submit(function () {
                    $("#overlay").css("display", "block");
                });
            });
        }

        //abrir PDFs con app nativo desde APP
        $('a.pdf').each(function () {
            $(this).click(function (event) {
                var href = $(this).attr('href');
                if (Embedded && Embedded.isEmbedded()) {
                    event.preventDefault();
                    if (href.indexOf('http') === -1)
                        href = document.getElementsByTagName('base')[0].href + href;
                    //window.open(href, '_system', 'location=yes');
                    Embedded._exec('window.open', [href, '_system', 'location=yes']);
                    window.location.reload();
                }
            });
        });

        if (typeof Embedded != 'undefined') {
            //al cargar dentro de APP
            Embedded._bind('Embedded.Initialized', function () {
                if (access_token) {
                    //guardo sesion en dispositivo movil
                    Embedded._exec('WebApp.Session._has', ['access_token'], function (data) {
                        if (!data.result)
                            Embedded._exec('WebApp.Session._set', ['access_token', access_token]);
                        else
                            Embedded._exec('WebApp.Session._get', ['access_token'], function (data) {
                                if (data.result != access_token)
                                    Embedded._exec('WebApp.Session._set', ['access_token', access_token]);
                            });
                    });
                    //firebase
                    Embedded._exec('WebApp.Firebase.token', [], function (data) {
                        if (data.result && data.result != '{{ session.ws_firebase }}') {
                            $.post(oAuth_auth_link('Firebase'), { token: data.result });
                        }
                    });
                    //device info
                    /*
                    Embedded._exec('device', [], function (data) {
                        if (data.result) {// && data.result != '{{ session.ws_firebase }}') {
                            $.post(oAuth_auth_link('Firebase'), { token: '{{ session.ws_firebase }}', device: JSON.stringify(data.result) });
                        }
                    });
                    */
                }
            });

            //al recibir notificacion
            Embedded._bind('Firebase.notification_open', function (data) {
                Embedded._exec('WebApp.Firebase._setBadge', [0]);
                //alert(JSON.stringify(data));
            });

            Embedded._bind('Cordova.backbutton', function () {
                var href = $('div.titulo-contenido-principal a[target=_self]').attr('href');
                if (href != undefined && href != '') {
                    overlay_show();
                    window.location.href = href;
                }
            });
        }

        // browser window scroll (in pixels) after which the "back to top" link is shown
        var offset = 100,
            //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
            offset_opacity = 1200,
            //duration of the top scrolling animation (in ms)
            scroll_top_duration = 700,
            //grab the "back to top" link
            $back_to_top = $('.cd-top');

        //hide or show the "back to top" link
        $(window).scroll(function () {
            ($(this).scrollTop() > offset) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
            if ($(this).scrollTop() > offset_opacity) {
                $back_to_top.addClass('cd-fade-out');
            }
        });

        //smooth scroll to top
        $back_to_top.on('click', function (event) {
            event.preventDefault();
            $('body,html').animate({
                scrollTop: 0,
            }, scroll_top_duration);
        });

        //go to top
        $('body,html').animate({
            scrollTop: 0,
        }, scroll_top_duration);

        //hide overlay
        overlay_hide();
    });

    $(window).unload(function () {
        //show overlay
        overlay_show();
    });

    function overlay_show() {
        $("#overlay").css("display", "block");
    }

    function overlay_hide() {
        $("#overlay").css("display", "none");
    }
</script>
{% include index_close %}