﻿{% include header %}
    <div class="login-background"></div>
    <section class="container-fluid">
        <div class="row">
            <!-- <div class="banner fondo-naranja">Bienvenido a Gear Up!</div> -->
            <div class="login">
			    <div class="col-xs-12 col-md-3 col-md-offset-2">
				    <div class="panel fondo-transparente text-center">
					    <div class="panel-heading">¿Nuevo en gearup!?</div>
					    <div class="panel-body">
                            <a href="registrarse" class="btn btn-negro">¡CREA TU CUENTA!</a>
					    </div>
	        	    </div>
			    </div>
                <div class="col-xs-12 col-md-3 col-md-offset-2">
	                <div class="panel fondo-transparente">
	            	    <div class="panel-heading">Iniciar sesi&oacute;n</div>
					    <div class="panel-body">
						    <form action="" method="post">
                                <input type="hidden" name="client_id" value="{{ client_id }}" />
							    <div class="form-group">
								    <label for="email" class="control-label">Usuario</label>
								    <input type="email" name="email" class="form-control" id="email" placeholder="" required="required">
							    </div>
							    <div class="form-group">
								    <label for="password" class="control-label">Contraseña</label>
								    <input type="password" name="password" class="form-control" id="password" placeholder="" required="required">
							    </div>
                                <div class="form-group text-center">
								    <a href="{$domain.protocolo}://{$domain.dominio}{$domain.directorio}/">¿Olvidaste tu contraseña?</a>
							    </div>
                                {% if error!='' %}
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="alert alert-danger text-center" role="alert">
                                            <p>{{ error }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endIf %}
                                {% for err in errores %}
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="alert alert-danger text-center" role="alert">
                                            <p>{{ err.descripcion }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endFor %}
							    <button type="submit" class="btn btn-verde pull-right">ACCEDER</button>
                                <button onclick="window.location.href='oauth/facebook?{if $plan!=''}plan={$plan}{/if}'" class="btn-facebook">Continuar con Facebook</button>
						    </form>
					    </div>
				    </div>
			    </div>
            </div>
        </div>
    </section>
{% include footer %}