﻿{% include header %}
    <div class="blanco-background"></div>
    <section class="container-fluid">
        <div class="row">
            <div class="banner fondo-naranja">[[ Bienvenido a gearup ]]</div>
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="panel {% if viajes!='' %}hidden{% endIf %}">
                    <div class="panel-body">
                        <h3>[[ No tienes viajes programados ]]</h3>
                        <a href="nuevo-viaje" class="btn btn-verde" style="position: relative; padding: 10px 20px; margin-left: 50px;"><img class="icono" src="images/avion.png" />[[ NUEVO VIAJE ]]</a>
                    </div>
				</div>

	            <div class="panel panel-verde {% if viajes=='' %}hidden{% endIf %}">
	            	<div class="panel-heading">[[ PRÓXIMOS VIAJES ]]<img class="icono" src="images/reloj.png" /></div>
					<div class="panel-body">
						<ul class="viajes-inicio">
                            {% for v in viajes %}
                                <li>[[ Tu viaje a ]] MADRID, España [[ comienza en ]] {{ v.FechaInicio }} [[ hs ]]<a href="mis-viajes/{{ v.ID }}" class="btn btn-verde">[[ VER VALIJA ]]</a></li>
                            {% endFor %}
						</ul>
					</div>
				</div>
			</div>
        </div>
    </section>
{% include footer %}