﻿{% include header %}
    <div class="blanco-background"></div>
    <section class="container-fluid">
        <div class="row">
            <div class="banner fondo-naranja">Perfil</div>
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            {% if error!='' %}
                            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                                <div class="alert alert-danger text-center" role="alert">
                                    <p>{{ error }}</p>
                                </div>
                            </div>
                            {% endIf %}

                            {% for err in errores %}
                            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                                <div class="alert alert-danger text-center" role="alert">
                                    <p>{{ err.descripcion }}</p>
                                </div>
                            </div>
                            {% endFor %}

                            {% if result=='False' %}
                            <div class="col-xs-12 col-sm-8 col-sm-offset-2 ">
                                <div class="alert alert-danger text-center" role="alert">
                                    <p>Desgraciadamente no hemos podido registrarlo en BilleteraPaís con los datos por usted informados.<br>Si considera que los datos ingresados son completamente reales y verificables por favor contacte a nuestro Soporte.</p>
                                </div>
                            </div>
                            {% endIf %}
                        </div>

                        <ul class="nav nav-tabs perfil" role="tablist">
                            <li role="presentation" class="active"><a href="#perfil" aria-controls="perfil" role="tab" data-toggle="tab">[[ MIS DATOS ]]</a></li>
                            <li role="presentation"><a href="#notificaciones" aria-controls="notificaciones" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-bell" aria-hidden="true"></i> [[ NOTIFICACIONES ]]</a></li>
                            <li role="presentation" class="pull-right hidden"><a href="#fotodeperfil" aria-controls="fotodeperfil" role="tab" data-toggle="tab">[[ ELEGIR FOTO DE PERFIL ]]<img src="images/perfil-sinfoto.png" /></a></li>
                        </ul>

                        <form action="registrarse" method="post">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="perfil">
							    <div class="form-group">
								    <label for="Nombre" class="control-label">[[ Nombre ]] *</label>
								    <input type="text" name="Nombre" class="form-control" id="Nombre" placeholder="" required="required" value="{{ session.Nombre }}">
							    </div>
							    <div class="form-group">
								    <label for="Apellido" class="control-label">[[ Apellido ]] *</label>
								    <input type="text" name="Apellido" class="form-control" id="Apellido" placeholder="" required="required" value="{{ session.Apellido }}">
							    </div>
                                <div class="form-group row">
								    <div class="col-xs-12 col-md-6">
                                        <label for="PaisID" class="control-label">[[ País donde vivo ]] *</label>
                                        <div class="select-style">
                                            <select name="PaisID"class="form-control" required="required">
                                                <option value="" disabled="disabled" selected="selected"></option>
                                                {% for p in paises  %}
                                                <option value="{{ p.ID }}" {% if session.PaisID==p.ID %}selected="selected"{% endIf %}>{{ p.Nombre }}</option>
                                                {% endFor %}
                                            </select>   
                                        </div>
								    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <label for="user" class="control-label">[[ Temperatura actual en el país ]] *</label>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
								                <input type="text" name="TemperaturaActual" class="form-control" id="TemperaturaActual" placeholder="" required="required">
                                            </div>
                                            <div class="col-xs-12 col-md-8">
								                <label class="radio-inline">
                                                    <input type="radio" name="Temperatura" id="TemperaturaC" value="C" {% if session.Temperatura=='C' %}checked="checked"{% endIf %}>°C (Celsius)
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="Temperatura" id="TemperaturaF" value="F" {% if session.Temperatura=='F' %}checked="checked"{% endIf %}>°F (Fahrenheit)
                                                </label>
                                            </div>
                                        </div>
								    </div>
							    </div>
                                <div class="form-group">
								    <label for="TimeZoneID" class="control-label">[[ Zona Horaria ]] *</label>
                                    <div class="select-style">
                                            <select name="TimeZoneID"class="form-control" required="required">
                                                <option value="" disabled="disabled" selected="selected"></option>
                                                {% for t in timezones  %}
                                                <option value="{{ t.ID }}" {% if session.TimeZoneID==t.ID %}selected="selected"{% endIf %}>{{ t.TimeZone }} ({{ t.GMT_Offset }})</option>
                                                {% endFor %}
                                            </select>   
                                        </div>
							    </div>
							    <div class="form-group">
								    <label for="Email" class="control-label">[[ Email ]] *</label>
								    <input type="text" name="Email" class="form-control" id="Email" placeholder="" required="required" value="{{ session.Email }}">
							    </div>
                                <div class="form-group">
								    <label for="Pass" class="control-label">[[ Contraseña ]] *</label>
								    <input type="password" name="Pass" class="form-control" id="Pass" placeholder="" required="required">
							    </div>
							    <div class="form-group">
								    <label for="PassVerif" class="control-label">[[ Confirmar contraseña ]] *</label>
								    <input type="password" name="PassVerif" class="form-control" id="PassVerif" placeholder="" required="required">
							    </div>
                                <div class="form-group row">
								    <div class="col-xs-12">
                                        <label for="Sexo" class="control-label">[[ Sexo ]] *</label>
                                    </div>
                                    <div class="col-xs-12">
								        <label class="radio-inline">
                                            <input type="radio" name="Sexo" id="SexoM" value="M" {% if session.Sexo=='M' %}checked="checked"{% endIf %}>[[ Masculino ]]
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="Sexo" id="SexoF" value="F" {% if session.Sexo=='F' %}checked="checked"{% endIf %}>[[ Femenino ]]
                                        </label>
                                    </div>
							    </div>
							    <div class="form-group">
								    <label for="Idioma" class="control-label">[[ Idioma ]] *</label>
                                    <div class="select-style">
                                        <select name="Idioma" class="form-control" required="required">
                                            <option value="ES" {% if session.Idioma=='ES' %}selected="selected"{% endIf %}>Español</option>
                                            <option value="EN" {% if session.Idioma=='EN' %}selected="selected"{% endIf %}>Inglés</option>
                                            <option value="CH" {% if session.Idioma=='CH' %}selected="selected"{% endIf %}>Chino</option>
                                        </select>   
                                    </div>
							    </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="notificaciones">
                                <div class="form-group">
								    <label for="NotifHsAntesInicioViaje" class="control-label">[[ Avisar antes de comenzar un viaje ]]</label>
								    <input type="text" name="NotifHsAntesInicioViaje" class="form-control" id="NotifHsAntesInicioViaje" placeholder="[[ Horas antes ]]" required="required" value="{{ session.NotifHsAntesInicioViaje }}">
							    </div>
							    <div class="form-group">
								    <label for="NotifHsAntesFinViaje" class="control-label">[[ Avisar antes de terminar un viaje ]]</label>
								    <input type="text" name="NotifHsAntesFinViaje" class="form-control" id="NotifHsAntesFinViaje" placeholder="[[ Hora(s) antes ]]" required="required" value="{{ session.NotifHsAntesFinViaje }}">
							    </div>
                            </div>
                        </div>
                        <div class="form-group">
							<button type="submit" class="btn btn-verde btn-block">[[ GUARDAR ]]</button>
                        </div>
					</form>
                    </div>
				</div>
			</div>
        </div>
    </section>
{% include footer %}