@font-face {
    font-family: openSansLight;
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: openSansLightItalic;
    src: url(../fonts/OpenSans-LightItalic.ttf);
}
@font-face {
    font-family: openSansRegular;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: openSansRegularItalic;
    src: url(../fonts/OpenSans-RegularItalic.ttf);
}
@font-face {
    font-family: openSansSemiBold;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: openSansBold;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: openSansExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@import "@material/textfield/mdc-text-field";

* {
    margin: 0;
    box-sizing: border-box;
}
:root {
    --mdc-theme-primary:#163DBE;
    --mdc-theme-error: #BE1622;
    --primary-color: #BE1622;
    --success-color: #163DBE;
    --gray-color-one: #4A4A4A;
    --gray-color-two: #767676;
    --gray-color-three: #A5A5A5;
    --gray-color-foor: #E0E0E0;
    --gray-color-five: #DFE1E5;
    --gray-color-six: #EEEEEE;
    --gray-color-seven: #F5F5F5;
    --gray-color-right: #FAFAFA;
    --white-color: #FFFFFF;
}
.containerLogin {
    display: flex;
    height: 100vh;
}
.conteinerLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 70%;
    background-color: var(--gray-color-seven);
}
.subContainerLeft {
    width: 80%;
    margin: 30px 0 0 100px;
}
.containerRigth {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 24px;
    justify-content: center;
}
.isologo {
    width: 132px;
}
.titleLeft {
    color: var(--gray-color-two);
    font-size: 42px;
    font-family: "openSansLight", "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 20px 0;
}
.subTitle {
    color: var(--gray-color-two);
    font-size: 22px;
    font-family: "openSansLight", "Roboto", "Helvetica", "Arial", sans-serif;
    margin-bottom: 20px;
}
.subTitleRight {
    margin-bottom: 40px;
}
.textError {
    color: var(--mdc-theme-error);
    font-size: 12px;
    font-family: "openSansRegular", "Roboto", "Helvetica", "Arial", sans-serif;
    margin-bottom: 15px;
}
.mdc-button {
    height: 48px;
    text-transform: capitalize;
    font-family: "openSansRegular", "Roboto", "Helvetica", "Arial", sans-serif;
}
.mdc-text-field {
    height: 48px;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-primary);
}
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-error);
}