﻿* {
    margin: 0;
    padding: 0;
}

body {
}

.fondo-negro, .btn-negro {
    background-color: #323232 !important;
}

.fondo-naranja, .btn-naranja {
    background-color: #FA961E !important;
}

.fondo-verde, .btn-verde {
    background-color: #99C21E !important;
}

.fondo-transparente {
    background-color: transparent !important;
}

.btn-negro, .btn-verde, .btn-naranja {
    padding: 15px 35px;
    color: #fff !important;
    font-size: 1.2em;
    font-weight: 100;
}

.btn-facebook {
    width: 100%;
	background-color: #4C69BA;
	background-image: linear-gradient(#4C69BA, #3B55A0);
	/*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
	text-shadow: 0 -1px 0 #354C8C;
    box-sizing: border-box;
	position: relative;
	/* width: 13em;  - apply for fixed size */
	margin: 0.2em;
    margin-top: 20px;
	padding: 5px 15px 5px 46px;
	border: none;
	text-align: center;
	line-height: 34px;
	white-space: nowrap;
	border-radius: 0.2em;
	font-size: 1.4em;
	color: #FFF;
}

.btn-facebook:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 5px;
	left: 0;
	width: 34px;
	height: 100%;
    /*border-right: #364e92 1px solid;*/
	background: url('../images/icon_facebook.png') 6px 6px no-repeat;
}

.btn-facebook:focus {
	outline: none;
}

.btn-facebook:active {
	box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.btn-facebook:hover, .btn-facebook:focus {
	background-color: #5B7BD5;
	background-image: linear-gradient(#5B7BD5, #4864B1);
}

.login-background {
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    position: fixed;
    z-index: -1;
    background: url('../images/index.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.4;
}

.verde-background {
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    position: fixed;
    z-index: -1;
    background: url('../images/fondo-nubes.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*opacity: 0.4;*/
}

.blanco-background {
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    position: fixed;
    z-index: -1;
    background: url('../images/fondo-nubes2.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*opacity: 0.4;*/
}

.loader-overlay {
    background-color: rgba(0, 0, 0, 0.79);
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
    display:none;
}

header {
    height: 63px;
    position: relative;
}

.navbar-brand {
    margin-top: 5px;
    padding: 5px;
}

.navbar-brand > img {
    height: 100%;
}

.navbar {
    /*padding: 15px;*/
    padding-left: 30px;
    margin-bottom: 0 !important;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav.menu li a {
    height: 100%;
    margin: 10px 5px;
    padding: 10px 15px;
}

.nav li.menu-item {
    height: 100%;
    padding: 5px;
    font-size: 1.2em;
}

.nav li.menu-item a {
    color: #ffffff;
}

.nav li.menu-item a img {
    height: 20px;
    vertical-align: sub;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #99C21E;
}

.nav.menu li a.active {
    color: #ffffff;
}

.nav img.notificaciones {
    width: 20px;
    border-radius: 100%;
}

.dropdown-flag {
    width: 32px;
    border-radius: 100%;
}

a, a:visited, a:hover {
    color: #000;
    text-decoration: none;
}

section.container-fluid {
    padding-bottom: 30px;
}

.panel-heading {
    font-size: 1.7em;
    font-weight: 600;
}

.panel-verde {
    border-color: #99C21E;
}

.panel-verde>.panel-heading {
    font-size: 1.2em;
    font-weight: 100;
    color: #ffffff;
    background-color: #99C21E;
    border-color: #99C21E;
    position: relative;
}

.panel.fondo-transparente {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

img.icono {
    height: 40px;
    display: block;
    position: absolute;
    left: -60px;
    top: 0;
}

.nav.perfil li:last-child {
    margin-right: 100px;
}

.nav.perfil li a img {
    position: absolute;
    top: -40px;
    right: -100px;
    border: 1px solid;
    border-radius: 100%;
    padding: 10px;
}

.control-label {
    font-weight: 600;
}

.banner {
    padding: 15px 20px;
    text-align: left;
    color: #fff;
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 40px;
}

.login {
    margin-top: 60px;
}

.nav-tabs {
    margin-bottom: 20px;
    border-bottom: none;
}

.verde .nav-tabs > li > a {
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #888;
}

.verde .nav-tabs > li.active > a, .verde .nav-tabs > li.active > a:focus, .verde .nav-tabs > li.active > a:hover {
    cursor: default;
    background-color: #000;
    border: none;
    color: #ffffff;
}

ul.viajes-inicio, ul.viajes {
    list-style: none;
    padding: 0;
    margin: -15px;
}

ul.viajes-inicio li, ul.viajes li {
    position: relative;
    display: block;
    padding: 20px;
    border: none;
    border-bottom: 1px solid #99C21E;
}

ul.viajes-inicio li:last-child {
    border: none;
}

ul.viajes li {
    padding: 15px 20px;
    border: 1px solid #000000;
    border-bottom: none;
}

ul.viajes li:first-child {
    border-radius: 10px 10px 0 0;
}

ul.viajes li:last-child {
    border: 1px solid #000000;
    border-radius: 0 0 10px 10px;
}

ul.viajes-inicio li a.btn, ul.viajes li a.btn {
    position: absolute;
    right: 20px;
    top: 10px;
    display: block;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.viajes li a.btn {
    top: 15px;
}

ul.viajes li img {
    width: 15px;
    margin-right: 10px;
}

form.viaje>div.row {
    margin-left: 10px;
}

form.viaje>div {
    position: relative;
}

span.icon-viaje {
    height: 100%;
    left: -10px;
    padding-top: 30px;
    position: absolute;
    /*border: 1px solid;*/
}

span.iscon-viaje img {
    width: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: #000;
    font-size: 1em;
    font-weight: 100;
}

.cd-top {
    display: none;
    padding: 0 !important;
    padding-right: 20px;
    margin: 0 !important;
    width: 60px;
    z-index: 10000;
}

.cd-top span {
    border-radius: 100%;
    border: 2px solid #fff;
    padding: 10px 10px !important;
    margin: 0 !important;
}

/*
#header_menu {
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.54);
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%);
}
*/

.dropdown.links-paises {
    position: absolute;
    right: 50px;
    top: 0;
}

@media (min-width: 768px) {
    /*
    .dropdown.links-paises {
        right: 0;
        top: 0;
        z-index: 11;
    }

    #header_menu {
        -webkit-transform: translateX(0);
        -webkit-transition: none;
        background-color: transparent;
        border-bottom: none;
        transform: translateX(0);
        transition: none;
        height: 70px;
        position: absolute;
        right: 63px;
        top: 0;
        width: auto;
    }
    */
}